{% extends "base.html" %}
{% load static %}

{% block title %}Trang chủ - FashionShop{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<!--    <class id="main">
        <div class="heading"></div>
        <div class="container content">
            <div class="container__wrap">
                <ul class="container__menu row">
                    <li class="item__menu item__menu__active">All</li>
                    <li class="item__menu">Áo Sơ Mi</li>
                    <li class="item__menu">Áo Polo</li>
                    <li class="item__menu">Áo Thun</li>
                    <li class="item__menu">Áo khoác</li>
                    <li class="item__menu">Quần Jean</li>
                    <li class="item__menu">Quần Short</li>
                    <li class="item__menu">Quần Thun</li>
                </ul>
            </div>
        </div>
        <div class="form__search__wrap content">
            <div class="form__search-suggest">
                <div class="form__search">
                    <input type="text" name="search__product" id="search__product" class="search__product" style="padding: 15px;"
                        placeholder="Search">
                    <button class="btn__search btn">Search</button>
                </div>
                <ul class="suggest-product-list">
                    </ul>
            </div>
        </div>
         <div class="list__product content">
            <ul class="list__product__container">
            </ul>
        </div>
    </class>-->
    <main id="main">
    <div class="heading"></div>
    <div class="container content">
        <div class="container__wrap">
            <ul class="container__menu row">
                <li class="item__menu {% if not active_category %}item__menu__active{% endif %}">
                    <a href="{% url 'home' %}">All</a>
                </li>
                {% for cat in categories %}
                <li class="item__menu {% if cat.id == active_category %}item__menu__active{% endif %}">
                    <a href="{% url 'product_by_category' cat.id %}">{{ cat.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="form__search__wrap content">
        <div class="form__search-suggest">
            <form class="form__search" method="get" action="{% url 'home' %}">
                <input type="text" name="search" id="search__product" class="search__product" placeholder="Search" style="padding: 15px;"  value="{{ search_query|default:'' }}">
                <button class="btn__search btn" type="submit">Search</button>
            </form>
            <ul class="suggest-product-list"></ul>
        </div>
    </div>

    <div class="list__product content">
        <ul class="list__product__container">
            {% for product in products %}
                <li class="product__item" id="{{ product.id }}">
                    <div class="product__item__wrap">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" class="product__img">
                        <h3 class="product__name">{{ product.name }}</h3>
                        <h3 class="product__category">Danh mục: {{ product.category.name }}</h3>
                        <span class="product__price">Giá: {{ product.formatted_price }}</span>
                    </div>
                </li>
            {% empty %}
                <p>Không có sản phẩm nào.</p>
            {% endfor %}
        </ul>
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination content">
        <div class="step-links">

            {% if page_obj.has_previous %}
                <a href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}">⏮ First</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">⬅ Prev</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Next ➡</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}">Last ⏭</a>
            {% endif %}
        </div>
    </div>
    {% endif %}


</main>
<div id="productInfo" class="modal unactive">
    <div id="info">
        <img src="{% static 'img/icon_delete..png' %}" alt="close" id="closeModal" class="close">
        <div class="left">
            <img id="imgbig" src="" alt="Product Image">
        </div>
        <div class="right">
            <h2 id="productname"></h2>
            <h4 id="productprice"></h4>
            <div class="display-size">
                <h4>SIZE</h4>
                <select id="size">
                    <option value="36" selected>36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
            </div>
            
            <h4>Quantity</h4>
            <div class="quantity">
                <button class="decrease">-</button>
                <input type="text" class="quantity-input" value="1" oninput="checkQuantity()">
                <button class="increase">+</button>
            </div>
            <div class="row" style="justify-content: start; gap: 1rem;">
                <button class="addtocart btn" onclick="addToCart()">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>


    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message|escapejs }}");
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}
